<h2>My Posts</h2>
<%= link_to 'Add New', new_post_path, class: 'header-menu' %> <!-- prefix を使ってリンク先を指定できる-->
<ul>
    <% @posts.each do |post| %> <!-- .erb 記法 -->
        <li>
            <%= link_to post.title, post_path(post.id)   %>
            <%= link_to '[Edit]',   edit_post_path(post), class: 'command' %>
            <%= link_to '[x]',   
                post_path(post), # DELETE メソッドの prefix は post
                method: :delete,  # DELETE は明示する必要がある
                class: 'command',
                data: { confirm: 'Sure?' } %>  <!-- 確認ダイアログ -->

            <!-- <%= post.title %> -->
        </li>
    <% end %>
</ul>
